.item {
	margin: 0 10px;
	position: relative;
	cursor: pointer;
	font-weight: 600;
}

.item:before {
	content: "";
	width: 0;
	height: 2px;
	transition: width 0.2s linear;
	background-color: #000;
	position: absolute;
	bottom: -5px;
	left: 0;
}

.item:hover:before {
	width: 100%;
}
