.container {
    width: 100%;
    height: 100vh;
    position: relative;
}
.container canvas{
    width: 100%;
    height: 100vh;
}
.container .box {
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #00000030;
    color: #000000;
}
.container h1 {
    font-size: 4em;
}
.container .subtitle {
    font-size: 1.2em;
    height: 40px;
}